/* Box styles */


.ps-sidebar-root {
    height: 100% !important;
    width: 270px !important;
    min-width: 270px !important;
    text-align: left !important;
    transition: width, left, right, 0.3s !important;
    position: relative !important;
    z-index: 1009 !important;
    -webkit-transition: width, left, right, 0.3s !important;
    -moz-transition: width, left, right, 0.3s !important;
    -ms-transition: width, left, right, 0.3s !important;
    -o-transition: width, left, right, 0.3s !important;
}



/* ps-sidebar-root styles */
.box .ps-sidebar-root {
  border: 0px !important;
  height: 100% !important;
  width: 270px !important;
  color: #adadad !important;
}

/* MuiBox-root styles */
.box .MuiBox-root {
  background: var(--colors-primary-400) !important;
  margin: var(--colors-primary-400) !important;
}

/* ps-sidebar-container styles */
.box .ps-sidebar-container {
  background: var(--colors-primary-400) !important;
  overflow: hidden auto !important;
  position: relative !important;
}

/* ps-icon-wrapper styles */
.box .ps-icon-wrapper {
  background-color: transparent !important;
}

/* ps-menu-button styles */
.box .ps-menu-button {
  padding: 5px 35px 5px 20px !important;
}

.box .ps-menu-button:hover {
  color: #868dfb !important;
  background: var(--colors-primary-400) !important;
}

.box .ps-menu-button.active {
  color: #6870fa !important;
}

/* Additional hover styles */
.box .ps-menu-button:hover {
  background: var(--colors-primary-400) !important;
}
